<div class="search">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input name="search-input" [(ngModel)]="searchValue" type="text" matInput placeholder="Text to search">
    </mat-form-field>

    <button
      (click)="onSearchBtnClicked()"
      mat-raised-button
      color="accent"
      class="search-btn">
        Search
    </button>
  </form>
</div>
<div class="add-course">
  <button
    mat-raised-button
    (click)="addCourse()">
    Add Course
  </button>
</div>