<app-search-section (searchCourseBtnClicked)="onFilterCourses($event)"></app-search-section>

<div *ngIf="courses.length" class="courses-list">
  <app-course-item
    *ngFor="let course of courses | orderBy:'creationDate'"
    [ngClass]="{'top-rated': course.topRated}"
    [course]="course"
    [appCoursePlateBorder]="course.creationDate"
    (deleteCourse)="openDialog($event)">
  </app-course-item>

  <button class="load-more" mat-stroked-button (click)="loadMoreCourses()">LOAD MORE</button>
</div>

<!-- <app-edit-course></app-edit-course> -->

<div *ngIf="!courses.length" class="no-items">
  NO DATA. FEEL FREE TO ADD NEW COURSE
</div>