<app-search-section (searchCourseBtnClicked)="onSearhCourses($event)"></app-search-section>

<div *ngIf="courses.length" class="courses-list">
  <app-course-item
    *ngFor="let course of courses | orderBy:'date'"
    [ngClass]="{'top-rated': course.isTopRated}"
    [course]="course"
    [appCoursePlateBorder]="course.date"
    (deleteCourse)="openDialog($event)">
  </app-course-item>

  <button class="load-more" mat-stroked-button (click)="loadMoreCourses()">LOAD MORE</button>
</div>

<div *ngIf="!courses.length" class="no-items">
  NO DATA. FEEL FREE TO ADD NEW COURSE
</div>