app-search-section {
  padding: 25px 50px;
}

.courses-list {
  padding: 0 40px;
  padding-bottom: 25px;
}

.load-more {
  margin: 25px 10px;
  width: calc(100% - 20px);
}

.no-items {
  background-color: white;
  padding: 15px;
  margin: 10px 50px;
  text-align: center;
}