:host {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  margin: 10px;
}

:host(.top-rated) {
  background-color: #FDF5E6;
}

.additional-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.additional-content p, .course-info h4 {
  width: 75%;
}

.header-info .header {
  display: flex;
  align-items: center;
}

.header-info .header mat-icon {
  margin-left: 5px;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-info {
  display: flex;
}

.date, .duration {
  font-size: smaller;
  color: #6b6b6b;
  display: flex;
  align-items: center;
}

.date {
  margin-left: 7px;
}

mat-icon {
  margin-right: 5px;
}