<div class="content">
  <div class="header-info">
    <div class="header">
        <h4>{{course.name | uppercase}}</h4>
        <mat-icon *ngIf="course.isTopRated">star_border</mat-icon>
    </div>
    <div class="course-info">
      <div class="duration">
        <mat-icon>access_time</mat-icon>
        <span>{{course.duration | duration}}</span>
      </div>
      <div class="date">
        <mat-icon>date_range</mat-icon>
        <span>{{course.date | date}}</span>
      </div>
    </div>
  </div>
</div>
<div class="additional-content">
  <p>{{course.description}}</p>

  <div class="buttons">
    <button mat-stroked-button color="primary" (click)="onEditCourse()">Edit</button>
    <button mat-stroked-button color="warn" (click)="onDeleteCourse()">Delete</button>
  </div>
</div>
